<div class="press">
<br>
<br>
    <h2>プレスリリース一覧</h2>
    <% if category_id == '41' %>
      食品・お菓子
      <%= link_to 'レストラン・ファストフード・居酒屋', pr_records_path(category_id: '43') %>
      その他プレスリリース情報は<%= link_to 'こちら', 'https://prtimes.jp/' %>
    <% else %>
      <%= link_to '食品・お菓子', pr_records_path(category_id: '41') %>
      レストラン・ファストフード・居酒屋
      その他のプレスリリース情報は<%= link_to 'こちら', 'https://prtimes.jp/' %>
    <% end %>
<br>
    <% result.each do |obj| %>
      <li>
        <a href="#">
          <div class="inner">
            <div class="title1">
              <%= link_to obj["title"], pr_show_path(company_id: obj['company_id'], release_id: obj['release_id'])%><br>
            </div>
          </div>
        </a>
      </li>
    <% end %>

    <% if page_number != '1' %>
      <%= link_to '最初へ', pr_records_path(page: '1')%>
    <% end %>

    <% if page_number == '1' %>
      <% 5.times do |n| %>
      <% n += 1 %>
        <% if n == 1 %>
          <%= page_number%>
        <% else %>
          <%= link_to n.to_s, pr_records_path(page: n.to_s) %>
        <% end %>
      <% end %>
    <% elsif page_number == '2' %>
      <% x = 3 %>
      <%= link_to '1', pr_records_path(page: '1')%>
      <%= page_number %>
      <% 3.times do |n| %>
        <%= link_to x.to_s, pr_records_path(page: x.to_s )%>
        <% x += 1 %>
      <% end %>
    <% else %>
      <%= link_to (page_number.to_i - 2).to_s, pr_records_path(page: (page_number.to_i - 2).to_s) %>
      <%= link_to (page_number.to_i - 1).to_s, pr_records_path(page: (page_number.to_i - 1).to_s) %>
      <%= page_number %>
      <%= link_to (page_number.to_i + 1).to_s, pr_records_path(page: (page_number.to_i + 1).to_s) %>
      <%= link_to (page_number.to_i + 2).to_s, pr_records_path(page: (page_number.to_i + 2).to_s) %>
    <% end %>
    
  </div>




