<%= @result['title'] %>
  <div>会社名：<%= @result['company_name']%></div>
  <div id="map">
  </div>

<%= form_for(Post.new) do |f| %>
  <% if flash[:error_message] %>
    <%= flash[:error_message] %>
  <% end %>
  <%= f.text_field :title %><br>
  <%= f.text_area :content %><br>
  <%= f.attachment_field :image %>
  <%= f.collection_select :category, Category.all, :id, :name, {include_blank: '選択してください'} %>
  <%= f.hidden_field :company_id, value: @json["company_id"] %>
  <%= f.hidden_field :release_id, value: @json["release_id"] %>
  <%= f.submit 'ひとことを作成'%>
<% end %>


  <script>
    let map
    var geocoder

    function initMap() {
      geocoder = new google.maps.Geocoder();
      geocoder.geocode({
        address: "<%= @result["company_name"] %>"
      }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map = new google.maps.Map(document.getElementById('map'), {
            center: results[0].geometry.location, // 地図の中心を指定
            zoom: 15 // 地図のズームを指定
          });
          marker = new google.maps.Marker({
            position: results[0].geometry.location, // マーカーを立てる位置を指定
            map: map // マーカーを立てる地図を指定
          });
        } else {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 36, lng:135},
            zoom: 6
          });

          var marker = new google.maps.Marker({
            position: {lat: 36, lng:135},
            map: map
          });
        }
      });
    }
  </script>