<!DOCTYPE html>
<html>
  <head>
    <title>Hitokoto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="container">
      <div class="header-left">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png'%>
        <% end %>
      </div>
      <div class="header-right">
        <% if current_user %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <%= link_to 'プレスリリース一覧', pr_records_path, class: 'new' %>
          <%= link_to 'マイページ', user_path(current_user), class: 'new' %>
          <%= link_to '最新投稿', posts_path, class: 'new' %>
          <%= link_to 'タイムライン', timeline_path, class: 'time-line' %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: 'login' %>
          <%= link_to '会員登録', new_user_registration_path, class: 'new' %>
          <%= link_to 'プレスリリース一覧', pr_records_path, class: 'new' %>
        <% end %>
      </div>
    </div>
  </header>
    <%= yield %>
  <footer></footer>

    <style>
      #map {
        height: 400px;
        width: 60%;
        margin-left:22%;
      }
    </style>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvkigsiJ2n6u1OrCfW-T9Tkp8S8qWd4EI&callback=initMap" async defer></script>
  </body>
</html>
